{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Default Title{% endblock %}</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'quiz/images/favicon-32x32.png' %}" sizes="32x32">
</head>
<body>
    
<audio id="myAudio">
  <source src="{% static 'quiz/sounds/sound.mp3' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
    
<audio id="wii">
  <source src="{% static 'quiz/sounds/nintendo-mii-theme-trap-remix.mp3' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
    
<header>

{% block header %}
{# Default header goes here #}
<div class="topnav">
<a onmousedown="playAudio();" href="{% url 'index' %}">Home</a>
<a onmousedown="playAudio();" href="{% url 'login' %}">Login</a>
<a onmousedown="playAudio();" href="{% url 'register' %}">Register</a>
<a onmousedown="playAudio();" href="{% url 'quizlist' %}">List of Quizzes</a>
<a onmousedown="playAudio();" href="{% url 'edit_class' 1 %}">Edit Class 1</a>
<a onmousedown="playAudio();" href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %}

</header>
<main>
{% block content %}
Default body
{% endblock %}
</main>
<footer>

{% block footer %}
{# Default footer goes here #}
<hr />
Copyright stuff that smart people put in the footer
{% endblock %}

</footer>
<script>
function playAudio() { 
    document.getElementById("myAudio").play();
}
</script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript_includes %}{% endblock %}
<script>
{% block javascript %}{% endblock %}
</script>
</body>
</html>
