{% extends 'quiz/blank.html' %}

{% load static %}

{% block title %}{{ thisClass.name }}{% endblock %}

{% block content %}
<h1>{{ thisClass.name }}</h1>

<input type="hidden" id="uid" value="{{ uid }}">
<input type="hidden" id="classId" value="{{ thisClass.pk }}">

{% if studentsInClass %}
    <h2>Students in this class</h2>
{% endif %}
<ul id="studentsInClass">
{% if studentsInClass %}
    {% for student in studentsInClass %}
        <li class="student" which="{{ student.pk }}">
            <span class="studentName" which="{{ student.pk }}">{{ student.name }}</span>
            <input type="button" class="removeStudent" which="{{ student.pk }}" value="Remove">
        </li>
    {% endfor %}
{% endif %}
</ul>

{% if otherStudents %}
    <h2>Students not in this class</h2>
{% endif %}
<ul id="otherStudents">
{% if otherStudents %}
    {% for student in otherStudents %}
        <li class="student" which="{{ student.pk }}">
            <span class="studentName" which="{{ student.pk }}">{{ student.name }}</span>
            <input type="button" class="addStudent" which="{{ student.pk }}" value="Add">
        </li>
    {% endfor %}
{% endif %}
</ul>

{% endblock %}

{% block javascript_includes %}
<script src="{% static 'quiz/js/utilities.js' %}"></script>
<script src="{% static 'quiz/js/edit_class.js' %}"></script>
{% endblock %}
