{% extends 'quiz/blank.html' %}

{% load static %}

{% block title %}Edit {{ title }}{% endblock %} <!--The title will be some variable passed depending on the quiz clicked on-->

{% block content %}
<h1>Edit {{ title }}</h1><!-- The title will be some variable passed depending on the quiz clicked-->

<input type="button" id="publish" value="Publish this quiz">

<input type="hidden" id="uid" value="{{ uid }}">
<input type="hidden" id="quizId" value="{{ quizId }}">

<ul id="questionList" class="rounded-list">
{% if questionList %}
    {% for question in questionList %}
        <li id="q{{ question.0.pk }}">
            <span class="questionText" which="{{ question.0.pk }}">{{ question.0.text }}</span>
            <input type="button" class="editQuestion" which="{{ question.0.pk }}" value="Edit">
            <input type="button" class="deleteQuestion" which="{{ question.0.pk }}" value="Delete">
            <ul class="responseList" which="{{ question.0.pk }}">
            {% if question.1 %}
                {% for response in question.1 %}
                <li id="r{{ response.pk }}">
                    <span class="responseText" which="{{ question.0.pk }}">{{ response.text }}</span>
                    <input type="button" class="editResponse" which="{{ response.pk }}" value="Edit">
                    <input type="button" class="deleteResponse" which="{{ response.pk }}" value="Delete">
                    <input type="button" class="selectResponse" which="{{ response.pk }}" value="Answer">
                </li>
                {% endfor %}
            {% endif %}
                <li><input type="button" class="addResponse" value="Add a response" which="{{ question.0.pk }}"></li>
            </ul>

        </li>
    {% endfor %}
{% endif %}
<li><input type="button" id="addQuestion" value="Add a question"></li>
</ul>


{% endblock %}

{% block javascript_includes %}
<script src="{% static 'quiz/js/utilities.js' %}"></script>
<script src="{% static 'quiz/js/edit_quiz.js' %}"></script>
{% endblock %}
