{% extends 'quiz/blank.html' %}

{% block title %}WhizKwiz Home Page{% endblock %}

{% block content %}

<audio id="myAudio">
  <source src="sounds/sound.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<h1>WhizKwiz</h1>
<div class="container">
    <a onmousedown="playAudio();" href="{% url 'login' %}" ><div class="block"><h2>Login</h2></div></a><br />
    <a onmousedown="playAudio();" href="{% url 'register' %}"><div class="block"><h2>Register</h2></div></a><br />
    <a onmousedown="playAudio();" href="{% url 'logout' %}"><div class="block"><h2>Logout</h2></div></a><br />
    <a onmousedown="playAudio();" href="{% url 'edit_quiz' 1 %}"><div class="block"><h2>View Quiz</h2></div></a>
</div>

<script>
function playAudio() { 
    document.getElementById("myAudio").play();
}
</script>

{% endblock %}