{% extends 'quiz/blank.html' %} 

{% block title %}Login Page{% endblock %}

{% block content %}
<h1>Login Page</h1>
<h2>{{ message }}</h2>
<form action="" method="post">
{% csrf_token %}

<p>
<label for="name">Name: </label>
<input type="text" name="name" id="name" maxlength="128" required />
</p>
<!--<p>-->
<!--<label for="pass">Password: </label>-->
<!--<input type="password" name="password" id="pass" maxlength="128" required />-->
<!--</p>-->

<p>
<input type="submit" value="Submit">
</p>
</form>
<p>You can also <a href="{% url 'register' %}">register for an account</a>.</p>
{% endblock %}
