{% extends 'quiz/blank.html' %}

{% load static %}

{% block title %}Quiz List{% endblock %}

{% block content %}

<input type="hidden" id="uid" value="{{ uid }}">

{% if permissions == 1 %}{# If the viewer is a student #}
    {% if new_quiz_list%}
        <h3>New Quizzes</h3>
        <ol id="newQuizList" class="rounded-list">
        {% for quiz in new_quiz_list %} 
            <li>
                <a href="{% url 'take_quiz' quiz.pk %}">{{ quiz.name }}</a>
            </li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if taken_quiz_list %}
        <h3>Taken Quizzes</h3>
        <ol id="takenQuizList" class="rounded-list">
        {% for quiz in taken_quiz_list %} 
            <li>
                <a href="{% url 'view_quiz' quiz.pk %}">{{ quiz.name }}</a>
            </li>
        {% endfor %}
        </ol>
    {% endif %}
{% elif permissions == 2 or permissions == 3 %}{# Viewer is a teacher or TA #}
    {% if unpublished_quiz_list%}
        <h3>Unpublished Quizzes</h3>
        <ol id="unpublishedQuizList" class="rounded-list">
        {% for quiz in unpublished_quiz_list %} 
            <li>
                <a href="{% url 'edit_quiz' quiz.pk %}" class="unpublishedQuizText" which="{{ quiz.pk }}">{{ quiz.name }}</a>
                <input type="button" class="copyQuiz" which="{{ quiz.pk }}" value="Copy">
                <input type="button" class="deleteQuiz" which="{{ quiz.pk }}" value="Delete">
            </li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if published_quiz_list %}
        <h3>Published Quizzes</h3>
        <ol id="publishedQuizList" class="rounded-list">
        {% for quiz in published_quiz_list %} 
            <li>
                <a href="{% url 'take_quiz' quiz.pk %}" class="publishedQuizText" which="{{ quiz.pk }}">{{ quiz.name }}</a>
                <input type="button" class="copyQuiz" which="{{ quiz.pk }}" value="Copy">
            </li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if finished_quiz_list %}
        <h3>Finished Quizzes</h3>
        <ol id="finishedQuizList" class="rounded-list">
        {% for quiz in finished_quiz_list %} 
            <li>
                <a href="{% url 'view_quiz' quiz.pk %}" class="finishedQuizText" which="{{ quiz.pk }}">{{ quiz.name }}</a>
                <input type="button" class="copyQuiz" which="{{ quiz.pk }}" value="Copy">
            </li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if not unpublished_quiz_list and not published_quiz_list and not finished_quiz_list %}
        <p>Would you like to create a quiz?</p>
    {% endif %}

    <div id="addQuizBox">
        Quiz Name:
        <input type="text" id="quiz_name">
        <input type="button" value="Add Quiz" onclick="addQuiz({{quiz.pk}})">
    </div>

{% endif %}


{% endblock %}

{% block javascript_includes %}
<script src="{% static 'quiz/js/utilities.js' %}"></script>
<script src="{% static 'quiz/js/quizlist.js' %}"></script>
{% endblock %}


