{% extends 'quiz/blank.html' %} 

{% block title %}Register a New Account{% endblock %}

{% block content %}
<h1>Register for WhizKwiz</h1>
<h2>{{message}}</h2>
<form action="form/register" method="POST">
{% csrf_token %}
<p>
<label for="name">Name: </label>
<input type="text" name="name" id="name" maxlength="128" required />
</p>

<!--<p>-->
<!--<label for="email">Email: </label>-->
<!--<input type="email" name="email" id="email" maxlength="128" required />-->
<!--</p>-->

<!--<p>-->
<!--<label for="pass">Password: </label>-->
<!--<input type="password" name="password" id="pass" maxlength="128" required />-->
<!--</p>-->

<!--
<p>
<label for="permissions">Permissions: </label>
</p>
<p>
<input type="radio" id="student" name="permissions" value="1" checked />
<label for="student">Student</label>
</p>
<p>
<input type="radio" id="ta" name="permissions" value="2" />
<label for="ta">TA</label>
</p>
<p>
<input type="radio" id="teacher" name="permissions" value="3" />
<label for="teacher">Teacher</label>
</p>
-->

<p>
<input type="submit" value="Register">
</p>
</form>

{% endblock %}

{% block javascript %}

$("#name").change(function(){
	var username = $(this).val();
	$.ajax({
		url: '{% url 'validate_user_ajax' %}',
		method: 'POST',
		data: {
			'info': username,
			'type': 'name',
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		},
		dataType: 'json',
		success: function(data){
			if(data.is_taken){
				$("#name").val("");
				alert("Another user already has that username. Please pick another one.");
			}
		}
	});
});

$("#email").change(function(){
	var email = $(this).val();
	$.ajax({
		url: '{% url 'validate_user_ajax' %}',
		method: 'POST',
		data: {
			'info': email,
			'type': 'email',
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		},
		dataType: 'json',
		success: function(data){
			if(data.is_taken){
				$("#email").val("");
				alert("Another user already has that email. Please pick another one.");
			}
		}
	});
});

{% endblock %}
