{% extends 'quiz/blank.html' %}

{% load static %}

<audio id="wii">
  <source src="{% static 'quiz/sounds/nintendo-mii-theme-trap-remix.mp3' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

{% block title %}Take {{ title }}{% endblock %}

{% block content %}
<h1>Take {{ title }}</h1>

<input type="hidden" id="uid" value="{{ uid }}">
<input type="hidden" id="quizId" value="{{ quizId }}">

<div class="takeQuizBox" id="waiting">
    <p>Waiting....</p>
    <img style="max-width: 100%" src="{% static 'quiz/images/waiting.gif' %}" />
</div>
<div class="takeQuizBox" id="question">
    <p>Question stuff</p>
</div>
<div class="takeQuizBox" id="answer">
    <p>Result of question stuff</p>
    <img style="display: none; max-width: 100%;" id="successGif" src="{% static 'quiz/images/success.gif' %}" />
    <img style="display: none; max-width: 100%;" id="failureGif" src="{% static 'quiz/images/failure.gif' %}" />
    <p id="answerText"></p>
    <div id="studentResponseChart"></div>
</div>
<div class="takeQuizBox" id="finish">
    <h3>Final Rankings</h3>
    <ul id="studentFinishRankings"></ul>
</div>
<div class="takeQuizBox" id="teacher_starting">
    <p>Starting page for teacher</p>
    <input type='button' id='startQuiz' value='Start the Quiz'>
</div>
<div class="takeQuizBox" id="teacher_question">
    <p>Question page for teacher</p>
    <input type='button' id='finishQuestion' value='Finish Question'>
    <input type='button' class='modifyQuizButton' value='Modify Quiz'>
    <hr />
    <h2>Question: </h2>
    <p id="teacherQuestionText">Not started yet</p>
    <hr />
    <h2>Responses: <span id="questionResponseAmount">0</span></h2>
    <div id="responseChart"></div>
</div>
<div class="takeQuizBox" id="teacher_answer">
    <p>Answer page for teacher</p>
    <input type='button' id='nextQuestion' value='Next Question'>
    <input type='button' id='finishQuiz' value='Finish Quiz'>
    <input type='button' class='modifyQuizButton' value='Modify Quiz'>
</div>
<div class="takeQuizBox" id="teacher_finish">
    <h3>Final Rankings</h3>
    <ul id="teacherFinishRankings"></ul>
</div>
<div class="takeQuizBox" id="modify_quiz">
    <p>Modify a Quiz</p>
    <input type='button' id='finishModify' value='Finish Modifying Quiz'>
    <ul id="questionList"></ul>
</div>


{% endblock %}

{% block javascript_includes %}
<script src="{% static 'quiz/js/utilities.js' %}"></script>
<script src="{% static 'quiz/js/take_quiz.js' %}"></script>
{% endblock %}
