{% extends 'quiz/blank.html' %}

{% load static %}

{% block title %}View {{ title }}{% endblock %}

{% block content %}
<input type="hidden" id="uid" value="{{ uid }}">
<input type="hidden" id="quizId" value="{{ quizId }}">
<h1>View {{ title }}</h1>

{% comment %}

There is currently a record object passed in under the name 'record' if the user has completed this quiz. However, this cannot be used until we've decided on a format for the record object. Thus, this comment is for anybody who comes across this page after the it's been created in full.

{% endcomment %}

{% if questionList %}
    <ul>
    {% for q in questionList %}
        <li>
            <span>{{ q.0.text }}</span>
            {% if q.1 %}
            <ul>
                {% for r in q.1 %}
                    <li>
                        <span>{{ r.text }}</span>
                        {% if r == q.0.correct_response %}
                        <span> - This was the correct response</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <ul><li>There were no responses for this question</li></ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
<ul>
    <li>There were no questions for this quiz.</li>
</ul>
{% endif %}
{% endblock %}

{% block javascript_includes %}
<script src="{% static 'quiz/js/utilities.js' %}"></script>
<script src="{% static 'quiz/js/view_quiz.js' %}"></script>
{% endblock %}
