

/* Styling for topnav items */
.topnav{
    background-color: #00A896;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.topnav a{
    float:left;
    color: #F0F3BD;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-right: 1px solid #fff;
}
.topnav a:hover{
    background-color: #02C39A;
    color: #05668D;
}
.topnav a:last-child{
    border-right: none;
}

.quizText{
    text-decoration: none;
}

/*Styling for take_quiz boxes*/
.takeQuizBox{
    position: absolute;
    left: 0px;
    width: 99%;
    height: 200%;
    background-color: #E1FAF9;
    color: black;
    border: 1px solid black;
    display: none;
}
.questionTitleBox{
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}
.questionResponseBox{
    background-color: #02C39A;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.questionResponseBox:hover{
    background-color: #05668D;
    color: white;
}

/* Other */
/*
05668D
028090
00A896
02C39A
F0F3BD
*/

h1, h2, h3, p, a {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
    color: #F0F3BD;
    text-decoration: none;
}

body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-color: #05668D;
    color: #F0F3BD;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2, 100px);
    text-decoration: none;
    font-size: 24px;
}

.block{
    background-color: #02C39A;
    font-size: 24px;
    text-align: center;
}

.rounded-list{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
    margin-bottom: 4em;
    margin-left: 30px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.rounded-list>li{
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    *padding: 0.4em;
    margin: 0.5em 0;
    background: #00A896;
    border-radius: 0.3em;
    transition: all 0.3s ease-out;
}
.rounded-list>li:hover{
    background-color: #02C39A;
    color: #05668D;
}
.rounded-list>li:hover:before{
    color: #05668D;
    transform: rotate(360deg);
}
.rounded-list>li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
